.vs/Football_Base/v17/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
Intermediate/Build/Win64/x64/Football_BaseEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.h.pch filter=lfs diff=lfs merge=lfs -text
.vs/Football_Base/v17/Solution.VC.db filter=lfs diff=lfs merge=lfs -text
